@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belanosima&family=Noto+Sans:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Noto Sans", sans-serif;
  background-color: black;
}

.customWallet {
  /* background: rgb(131, 58, 180) !important;
  background: linear-gradient(
    171deg,
    rgba(111, 35, 209, 1) 0%,
    rgba(252, 70, 199, 1) 100%
  ) !important; */
  background: rgb(49, 35, 209) !important;
  background: linear-gradient(
    138deg,
    rgba(49, 35, 209, 1) 0%,
    rgba(164, 37, 200, 1) 86%,
    rgba(255, 38, 192, 1) 100%
  ) !important;
  color: white !important;
  font-weight: 300 !important;
  margin-top: 20px !important;
  height: 50px !important;
}
.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-[100rem] mx-auto sm:px-16 px-6;
}

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-white sm:text-6xl;
}

.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}
.desc {
  @apply mt-5 text-lg text-gray-300 sm:text-xl max-w-2xl;
}

.text-xs {
  font-size: 11px;
}
